html {
    background-color: #C7BD9F;
    color: #7A5D38;
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    margin: 20px 0;
}

.login {
    display: inline-block;
    margin: 10px auto 20px;
    padding: 20px 40px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: solid 1px #AD9C7F;
    background-color: #AD9C7F;
    box-shadow: 3px 3px 10px #7A5D38;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #EA6B66;
    color: #7A5D38;
    box-shadow: 3px 3px 10px #7A5D38;
    border-radius: 5px;
}

input {
    margin-bottom: 10px;
    box-shadow: 3px 3px 10px #7A5D38;
    border-radius: 5px;
}

body {
    text-align: center;
}

img {
    margin: 0;
    padding: 0;
    display: inline;
    text-align: left;
}


.grid {
    /* border: solid 1px black; */
    display: grid;
    grid-gap: 10px;
}

.one, .two, .three, .four, .five {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    border: solid 1px #AD9C7F;
    background-color: #AD9C7F;
    box-shadow: 3px 3px 10px #7A5D38;
}

.one {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.two {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.three {
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.four {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3; 
}

.five {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 3; 
}

.navbar {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    background-color: #AD9C7F;
}

.hidden {
    display: none;
}
